.outer
{
    display:flex;
}
.first
{
   display: flex;
   background-color: lightpink;
   width:100px;
   height:50px;
   align-items: center;
   justify-content: center;
   
}
.second
{
    background-color: lightblue;
    width: 200px;
    height:50px;

}
.items
{
    background-color: black;
    color:white;
    
}
.innerflexbox
{
    display: flex;
    justify-content: space-between
}