div{

    font-family: Arial;
    margin:0;
}

.Main
{
    display: flex;
    height:300px;
    width:400px;
}

.img
{

    height:60px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.Text-side
{
    flex: 1;
}
.firstline
{
    display: flex;
    margin-left: 10px;
   font-size: 13px;
   font-weight: 700;
}
.Secondline
{
    margin-top:8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 540;
}
.Lastblock
{

   margin-top: 10px;
    display: flex;
    margin-left: 10px;
    border:solid;
    border-color: rgb(221, 218, 218);
    border-radius:5px;
    border-width: 1px;
    background-color: rgb(221, 218, 218);
    width:280px;
    height:70px;
    overflow: hidden;
    align-items: center;
}

.gray
{
     width:70px;
     overflow: hidden;
     
}
.InnerText
{
    font-size: 13px;
    flex:1;
    background-color: white;
    overflow: hidden;
    height:70px;

}
.youtube
{
    margin-top:10px;
    color:gray;
    margin-bottom: 3px;
    margin-left:5px;
}
.backend
{
    font-size: 13px;
    font-weight: lighter;
    margin-left:5px;
    
}